.home {
		height: 701px;
		padding: 170px;
}

.about {
		background: #1d2120;
		height: 450px;
}

.work-experience {
		background: white;
		height: 750px;
}

body {
		background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url("servers.jpg");
		background-repeat: no-repeat;
		background-size: contain;
}

.nav-link {
		font-size: 20px;
		color: #7cfc00;
		margin-left: 20px;
		margin-right: 20px;
}

.nav-link:hover {
		color: white;
		border-bottom: 3px solid #7cfc00;
}


.img-circle{
		border-radius: 50%;
		border: 3px solid black;
}


.blink {
		animation: blink 0.7s infinite;
		color: #7cfc00;
}
	 
@keyframes blink{ 
		0%{opacity: 1;} 
		75%{opacity: 1;} 
		76%{ opacity: 0;} 
		100%{opacity: 0;} 
}

.green-text {
		color: #7cfc00;
}

.white-text {
		color: white;
}

hr {
		width: 250px;
		border-top: 2px solid white;
}

.about-text {
		font-size: 20px; 
		width: 900px;
}

.about-h1 {
	padding-top: 120px;
}

